div.footerContainer
    div.copyright
        p Designed by
            span  Alexandr aka Inflexible |
            |  Copyright © 2015 The test job, All Rights Reserved
    div.footerMenu
        ul.naviFoot
            li
                a(href='#') Sitemap
            li.divider-vertical
            li
                a(href='#') Resources
            li.divider-vertical
            li
                a(href='#') Partnership
            li.divider-vertical
            li
                a(href='#') Career
