div.headerContainer
    a.headerLogo
    div.headerMenu
        ul.navig
            li
                a(href='#') Home
            li
                a(href='#') About Us
            li.active
                a(href='#') Clients Base
            li
                a(href='#') Investors
            li
                a(href='#') Contact Us
        form.form-search
            input.input-medium(type='text', placeholder='Search this site...')
